.alert{
    position: absolute;
    z-index: 9999;
    /* width: 20%; */
    max-width: 20em;
    height: auto;
    border: solid;
    background: #FFFFFF;
    top: 20vh;
    /* left: 40%; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 5vh;
    padding-left: 1%;
    padding-right: 1%;
    text-align:center;

}

.banner{
    padding-bottom: 5vh;
}

.block-elements{	  
    position: fixed;
    z-index: 9998;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background: #cccccc;
    top:0;
    left: 0 ;
    right: 0;
}

.banner-button{
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    position: relative;	  
}

.count-banner{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    top: 20vh;
    background: rgba(0,0,0,0);
    /* font-size: xxx-large; */
    font-size: 20vh;
    color: red;
}
