
body{
    font-family:arial
}

header{
    text-align:center;
}

header img{
    width: 35px;
}

header img.logo{
    display:block;
    width:150px;
    margin:auto;
}

header h1{
    display:inline-block;
    color:#ee3124;
    font-family: arial; 
}

.roundTitle{
    width:600px;
    font-weight:600;
    font-size:18px;
    text-transform:uppercase;
    background:#EEE;
    padding:5px 0;
    margin:20px auto 10px
}

.standingsTitle{
    width:600px;
    font-weight:600;
    font-size:18px;
    text-transform:uppercase;
    background:#EEE;
    padding:5px 0;
    margin:20px auto 10px

}

.players{
    width:600px;
    margin:auto;
}

.standings{
    width:300px;
    margin:auto;
}

.ruler{
    width:600px;
    margin:auto;
}

.round{
    display:inline-block;
    padding:10px;
    border-radius:20px;
    background:red;
    color:#FFF;
    text-align:center;
    width:20px;
}

.playerCol,
.uRLcol,
.playURL,
.pointsCol{
    text-align:center;
}


.started{
    color: #007700;
    font-weight: bold;
}
