html{
    height: 100vh;
}

body {
    /* text-align: center; */
    color: #555;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 80vh;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    background: #AAAAAA;
}

h1{
    /* flex: 1; */
}

#registered-players{
    /* flex: 1; */
}

.registration-form{
    /* border: 1px solid; */
    /* flex : 2; */
    margin-top: 1em;
    margin-left: 15%;
    margin-right: 15%;
}
.registration-form legend{
    font-weight: bold;
}

.registration-form label{
    /* color: #ccc; */
}

.input-group{
    text-align: left;
    padding: 0.5em;
}

.input_field{
    width: 90%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background: #AAAAAA;
    text-align: center;
}

.input_field:focus{
      outline: none;
}


.error_messages{
    text-align: left;
    color: rgb(200,0,0);
    width: 60%;
}

.registered-players-list{
    padding-left: 5%;
    text-align: left;
}

.info-message{
    text-align: center;
    color: rgb(200,0,0);
}

.submit-div{
    text-align: center;
}

[type="submit"]{
    background: #bbbbbb;
    border: 1px solid #ccc;
    color: #555;
}
